body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: gainsboro;
    min-height: 100vh;
    font: normal 16px sans-serif;
    
}
.wrapper{
   
    text-align: center;
}
.page{
    display: inline-block;
}
h1 {
    text-align: center
}

/*Fonts*/
@font-face {
    font-family: GoboldBold;
    src: url(GoboldBold.ttf);
}

@font-face {
    font-family: PRIMETIME;
    src: url(PRIMETIME.ttf);
}

.hyperlink {
    color: red;
    font-weight: 600;
}

.box h3,
.gallerydiv h1,
.youtube h1,
.gallery-wrapper h1 {
    font-family: PRIMETIME;
}

footer p,
.box button {
    font-family: GoboldBold;
}

/*Font Changes*/
.box p,
* p {
    line-height: 1.7;
    font-size: 16px;
}

/*Button*/
.box button {
    background-color: dimgrey;
    color: white;
    border-radius: 0px;
    padding: 10px 15px;
}

.box button:hover {
    border: 1px solid dimgrey;
    background-color: white;
    color: dimgrey;
    border-radius: 0px;
}

/*Header & Nav*/
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    background: black;
    border-bottom: 2px solid red;
    z-index: 1000;
}

header .logo {
    height: 50px;
    line-height: 50px;
    float: left;
}

.logo:hover {
    width: 130px;

}

header nav {
    float: right;
    z-index: 999;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    position: relative;
}

header nav ul li.sub-menu:before {
    content: '\f078';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #fff;
    right: 1px;
}

header nav ul li.active.sub-menu:before {
    content: '\f077';
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background: #333;
    display: none;
}

header nav ul li.active ul {
    /* use li: hover instead */
    display: block;
    z-index: 999;
}

header nav ul li ul li {
    display: block;
    width: 200px;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    color: #fff;
    background: red;
    text-decoration: none;
}

header nav ul li a.active {
    background: red;

}

/*Nav*/
.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none
}

nav i {
    padding-right: 5px;
}

nav #info {
    margin-left: 5px;
}

/*Carosel*/
.item img {
   
    max-height: 800px;
    width: 1920px;
    
}

.carousel-indicators {
    z-index: 1;
}

/*outer div*/
.cardiv {
   background: #000000;
    text-align: center;
    margin-top: 30px;
}

/*inner div*/
#myCarousel {
   display: inline-block;
      
}

/*parallax*/
#parallax {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;

    /* background-image: url(../img/hero%20image.jpg);*/

}

#parallax h1 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: GoboldBold;
    text-transform: uppercase;
    opacity: .8;
    font-size: 8rem;
    color: white;
    text-align: center;
    color: white;
}

.pwrap {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
}

/*Boxes*/
#boxes {
    padding-bottom: 20px;
    background-color: gainsboro;
}

.boxcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    background-color: gainsboro;
}

#boxes .box {
    text-align: center;
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 5px 10px #888888;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 30px;
}

.boxImg {
    width: 120px;
    height: 120px;
}

/*Gallery Code*/

.instaframe {
    display: block;
    width: 100%;
    height: 200px;
    border: none;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.gallerydiv {
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: white;
    color: black;
    padding: 1em;
}

.youtube {
    text-align: center;
}

.youtube iframe {
    width: 100%;
    height: 100vh;
}

.widgetcontainer {
    box-shadow: 10px 5px 5px grey;
}

.youtube {
    margin-top: 60px;
    box-shadow: 10px 5px 5px grey;
    margin-bottom: 60px;
}

.gallerydiv {
    max-width: 1000px;
}

.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    /*    padding: 30px 50px;*/
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
    padding-top: 50px;
}

.gallery-container h1 {
    text-align: center;
    padding-top: 10px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: white;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 10px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

/*About Page*/

/*Footer*/


.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
}

.footer-basic-centered .footer-company-motto {
    color: #8d9093;
    font-size: 24px;
    margin: 0;
}

.footer-basic-centered .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/*Scroll to top*/
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

/*Media Queries*/

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {

    #myCarousel {
        padding-top: 50px;
    }
    
    #parallax h1{
        font-size: 3em;
    } 

    /*
    .boxcontainer {
        background-color: aqua;
    }
*/

    #boxes .box {
        width: 90%;
    }

    .footer-basic-centered {
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto {
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name {
        font-size: 12px;
    }

    .footer-basic-centered .footer-links {
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-basic-centered .footer-links a {
        line-height: 1.8;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*
    .boxcontainer {
        background-color: red;
    }
*/

    #boxes .box {
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*
    .boxcontainer {
        background-color: goldenrod;
    }
*/

    #boxes .box {
        width: 350px;
    }

}

/*Nav*/
@media (max-width: 860px) {

    body {
        padding: 0;
    }

    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        /* use display none or left:-100% to hide the nav  */
        /* display: none; */
        position: absolute;
        top: 50px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        transition: 0.5s;

    }

    header nav.active {
        left: 0;

    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 0.9px solid rgba(0, 0, 0, .2);
    }

    header nav ul li.active ul {
        position: relative;
        background-color: gray;
    }

    header nav ul li ul li {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*
    .boxcontainer {
        background-color: green;
    }
*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*
    .boxcontainer {
        background-color: palevioletred;
    }
*/
}
